header{
    color: rgb(103, 45, 1);
    background-color: rgb(252, 233, 148);
    font-family: cursive;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    font-size: 30px;
}

.primeira-secao{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: chocolate;
    background-color: rgb(255, 219, 175);
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 50px 0;
    font-size: 20px;
}